/* variavel que define a cor de todas as mensagem explicando oq é oq */
:root{
   --recado: white;
}

html, body{
    margin: 0%;
    padding: 0%;
}

/* esse container segura a barra de pesquisa, e publicação */
.container_alto{
 height: 20vh;
 width: 100%;
 background-color: burlywood;
 align-items: center;
 justify-items: center;
 display: flex;
}

 /* barra que em teoria pesquisa algum usuário ou publicação */
.molde{
    height: 50%;
    width: 95%;
    background-color: rgb(53, 6, 240);
    margin-left: 3%;
    color: var(--recado);
    
}

/* botão de nova publicação */
.publicação{
    margin-top: 1.4%;
    margin-left: 2%;
    width: 10%;
    height: 50%;
    border-radius: 10px;
}

/* barra de pesquisa */
.pesquisa{
    margin-left: 5%;
    width: 70%;
    height: 50%;
}

/* botão do perfil */
.perfil{
    width: 6\vh;
    height: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: 3%;
    margin-top: -3%;
    border-radius: 50px;
}

/* todo o fundo do site */
.container{
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 1, 1) ;
    display: flex;
    justify-content: space-between;

}

/* aba que segura a gaveta com os chats */
.aba_opcoes{
    height: 86%;
    width: 25%;
    background-color: aqua;
    margin-left: 3%;
    margin-top: 2%;
    padding: 10px;
    align-items: center;
    color: var(--recado);
}

/* onde vai ficar as fotos e nomes de usuarios do chat */
.partiçoes{
    width: 100%;
    height: 15%;
    background-color: black;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
/* onde vai ficas as fotos dos icones e chat */
.icones{
    background-color: white;
    width: 5vh;
    height: 50%;
    margin-left: 2%;
    margin: 3%;
    position:static;
    border-radius: 50%;
}

/* aba do feed */
.feed{
    height: 90%;
    width: 68%;
    background-color: rgb(0, 0, 0);
    margin-right: 2%;
    margin-top: 2%;
    color: var(--recado);
}
