/* Ajustes para telas pequenas largura */
@media (max-width: 900px) {

    .cnt_conversas {
        display: none;
    }

    .chat {
        position: fixed;  
        top: 15%;
        left: 5%;
        width: 90%;
        height: 80vh;
        border-radius: 2%;
        margin: 0;
        gap: 5px;
    }

    .logo2 {
        border-radius: 10;
        width: 100%;
        
    }

}

/* Ajuste tela pequena altura */
@media (max-height: 700px ) {

    .forma {
        display: none;
    }

    .chat {
        position: fixed;
        top: 5%;
        left: 5%;

        width: 90%;
        height: 90vh;

        border-radius: 12px;
        overflow: hidden;
        gap: 5px;
    }
}

/* ajuste tela minimizada */
@media (max-width: 900px) and (max-height: 400px) {
    .cnt_conversas {
        display: none;  
    }

    .forma {
        display: none;
    }

    .chat {
        position: fixed;
        top: 5%;
        left: 5%;

        width: 90%;
        height: 90vh;

        border-radius: 12px;
        overflow: hidden;
        gap: 5px;
    }
}
    

