html, body{
    margin: 0%;
    padding: 0%;
}

/* esse container segura a barra de pesquisa, e publicação */
.container_alto{
 height: 20vh;
 width: 100%;
 background-color: burlywood;
 align-items: center;
 justify-items: center;
 display: flex;
}

 /* barra que em teoria pesquisa alguma configuração */
.pesquisa{
    height: 50%;
    width: 95%;
    background-color: rgb(53, 6, 240);
    margin-left: 3%;
}

/* todo o fundo do site */
.container{
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 1, 1) ;
    display: flex;
    justify-content: space-between;
}

/* aba que segura a gaveta com as abas das configuraçoes */
.aba_opcoes{
    height: 86%;
    width: 25%;
    background-color: aqua;
    margin-left: 3%;
    margin-top: 2%;
    padding: 10px;
    align-items: center;
}

/* aba das configuraçoes */
.feed{
    height: 70%;
    width: 48%;
    background-color: rgb(0, 0, 0);
    margin-right: 10%;
    margin-top: 5%;
}

/* onde vai ficar as opçoes de configurações */
.partiçoes{
    width: 100%;
    height: 15%;
    background-color: black;
    margin-top: 1%;
}