/* Ajustes para telas pequenas largura */
@media (max-width: 900px) {

    .cnt_conversas {
        display: none;
    }

    .chat {
        position: fixed;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 80vh;
        border-radius: 2vmin;
        margin: 0;
        gap: 2vmin;
    }

    .logo2 {
        height: 8vmin;
    }
}

/* Ajuste tela pequena altura */
@media (max-height: 500px) {

    .forma {
        display: none;
        align-items: center;
    }

    .chat {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90vh;
        border-radius: 2vmin;
        overflow: hidden;
        gap: 2vmin;
    }

    .logo2 {
        height: 8vmin;
    }
}

/* ajuste tela minimizada */
@media (max-width: 900px) and (max-height: 400px) {

    .cnt_conversas {
        display: none;
    }

    .forma {
        display: none;
        align-items: center;
    }

    .logo2 {
        height: 8vmin;
    }

    .chat {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90vh;
        border-radius: 2vmin;
        overflow: hidden;
        gap: 2vmin;
    }
}