body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: fixed;
    background-image: url(../img/fundo_guja.jpg);
    background-repeat: space;
    min-height: 100vh;
    

}


.container img{
    width: 850px;
    max-width: 80%;
    margin: 0 auto 40px auto;
    position: relative;
    top: -200px;
    left: -90px;
}

.new-password h3,
.new-password p {
    text-align: center;
    width: 100%;
}


.new-password{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(37, 37, 37, 0.1);
    width: 100%;
    height: 600px;
    max-width: 400px;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#titulo{
    background-color: #0056b3;
    position: relative;
    top: -100px;
    font-style: bold;
}

.input-group h3{
    margin-top: 20px;
    top: 10px;
    color: #555;
    justify-content: top;
    align-items: top;
    display: flex;
    
    
}

.input-group p{
    font-size: 0.8em;
}

.input-group{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 5px 0;
}

.input-group i{
    color: #555;
    margin-right: 10px;
    font-size: 1.2em;
}

.input-group input{
    border: none;
    outline: none;
    flex-grow: 1;
}

.input-group input::placeholder{
    color: #999;
}

.btn-continue{
    width: 100%;
    padding: 12px;
    background-color: #0A0546;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 5px;
    
}

.btn-continue:hover{
    background-color: #0056b3;
}