body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(../img/fundo_guja.jpg);
    background-repeat: space;
    min-height: 100vh;
    font-family: "Arial", sans-serif;

}

/* CONTAINER CENTRALIZADO */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* mensagem bem vindo */
.boas_vindas{
    position: fixed;
    left: 150px;
    bottom: 150px;
    font-size: 3lvw;
    font-weight: bold;
    color:white;
}

/* LOGO GRANDE EM CIMA (ESQUERDA) */
.container img{
    width: 850px;
    max-width: 80%;
    margin: 0 auto 40px auto;
    position: relative;
    top: -200px;
    left: -90px;
}

/* TEXTO BEM-VINDO EMBAIXO NA ESQUERDA */
.texto-bemvindo{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    margin-top: 40px;
    background-color: aqua;
}

/* LOGIN CENTRALIZADO */
.login-box {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(37, 37, 37, 0.1);
    width: 100%;
    height: 600px;
    max-width: 400px;
    margin-right: 10%;
}

/* INPUTS */
.input-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 5px 0;
}

.input-group i{
    color: #555;
    margin-right: 10px;
    font-size: 1.2em;
}

.input-group input{
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px 0;
    font-size: 1em;
    color: #333;
}

.options-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.btn-login{
    width: 100%;
    padding: 12px;
    background-color: #0A0546;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-login:hover{
    background-color: #0056b3;
}
